<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog Posts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<ul id="posts">
    <!--/*@thymesVar id="posts" type="com.woowahan.riders.spring.practice.blog.controller.dto.PostsResponse"*/-->
    <li th:each="post : ${posts.posts}">
        <!--/*@thymesVar id="post" type="com.woowahan.riders.spring.practice.blog.controller.dto.PostResponse"*/-->
        <!--/*@thymesVar id="endpoint" type="java.lang.String"*/-->
        <a th:href="@{/{endpoint}/posts/{id}(endpoint=${endpoint},id=${post.id})}" th:text="${post.title}"></a>
    </li>
</ul>
</body>
</html>