<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog Posts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <!--/*@thymesVar id="post" type="com.woowahan.riders.spring.practice.blog.controller.dto.PostRequest"*/-->
    <dl id="post">
        <dt>제목</dt><dd class="_title" th:text="${post.title}"></dd>
        <dt>내용</dt><dd><pre class="_content" th:text="${post.content}"></pre></dd>
    </dl>

    <dl id="comments">
        <ul>
            <!--/*@thymesVar id="comments" type="com.woowahan.riders.spring.practice.blog.controller.dto.CommentsResponse"*/-->
            <!--/*@thymesVar id="comment" type="com.woowahan.riders.spring.practice.blog.controller.dto.CommentResponse"*/-->
            <li th:each="comment : ${comments.comments}">
                <div class="_content" th:text="${comment.content}"></div>
                <form class="_delete" th:action="@{{postId}/comment/{commentId}(postId=${post.id},commentId=${comment.id})}" th:method="delete">
                    <input type="submit" />
                </form>
            </li>
        </ul>
    </dl>

    <!--/*@thymesVar id="newComment" type="com.woowahan.riders.spring.practice.blog.controller.dto.CommentRequest"*/-->
    <form id="commentForm" action="#" method="POST" th:action="@{{postId}/comment(postId=${post.id})}" th:object="${newComment}" th:method="POST">
        <dl>
            <dt>내용</dt><dd><textarea th:field="*{content}"></textarea></dd>
        </dl>
        <input type="submit" />
    </form>
</body>
</html>